dash
dash-bootstrap-components
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-secret-manager
cloud-sql-python-connector
pandas
plotly
requests
scikit-learn
sqlalchemy<2.0
pg8000
pytest
airflow